
<html>
  <head>
    <script src="../update.js"></script>
    <link rel="stylesheet" href="update.css"> 
  </head>
   
<body id="body_">

  <div id="form2">
    
    <p>New password for user with email: 
    <span style="color:blue;" id="data1_">#{email}</span></p>
    <p id="data2_">#{code}</p>
    <p>Two uppercase letters and one number, min 10 chars</p>
    <label>Enter:
      <input type="password" id="password_" oninput="check(event,'/check_password')">
    </label>
    <label>Enter Again:
      <input type="password" id="repeat_" oninput="check(event,'/check_password')">
    </label>
    
    <button id="snd_" onclick="snd()" disabled>Send</button>
  </div>
  

</body>

</html>
    
    
    
    

